@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #f1f1f1;
}

/* Custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background: #f57d3f;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
